<turbo-frame id='weather_results'>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    An error occurred and results can not be displayed. Please try again or contact an administrator.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</turbo-frame>
