<turbo-frame id='weather_results'>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Results are not available at this time due to too many requests. Please try again later.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</turbo-frame>
